<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="RemoteUserAuth">
<resources>
        <resource-root path="${project.artifactId}-${project.version}.${project.packaging}"/>
    </resources>
    <dependencies>
        <module name="org.jboss.as.web"/>
    </dependencies>
</module>